target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea/aws.xml
.idea/httpRequests
.idea/dataSources/
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.classpath
.idea/uiDesigner.xml
.idea/jarRepositories.xml
.idea/codeStyles/
.idea/.gitignore

### Maven ###
mvnw
mvnw.cmd
.mvn/

### VS Code ###
.vscode/

### OS ###
.DS_Store
